#front-page {
	display: table;
	padding-top: 6%;
}

#front-page-content {
	color: white;
	background-color: rgba(30, 30, 30, 0.8);
	border-radius:0.2em;
	padding: 1em;

}

.images {
	margin: 0 auto;
	vertical-align: middle;
	display:block;
}

.promo{
	margin-bottom: 7%;
}

.promo h3 {
	text-align: center;
}

.navbar-default{
	margin-bottom: 0px;
}

.cover {
	background-image: url('img/nybrufossen-fly.jpg');
	background-size: cover;
	height: 95%;
	background-position: center;
}

.btn-success{
	border-color: 2px solid #41dd85;
	background-color: rgba(0,0,0,0);
	color: #41dd85;
}

#page-watermodel, #page-construction {
	min-height: 60%;
}

.img-responsive {
  max-width: 90%; /* or to whatever you want here */
  max-height: auto; /* or to whatever you want here */
  margin: 2em auto;
}

#navbar-brand-header {
	padding: 2em;
}

#page-watermodel {
	/*background-color: #063647;*/
	/*color: white;*/
}

#page-construction {
	background-color: #0E282E;
	color: white;
}

.page {
	padding-top: 5%;
}

#page-description {
	background-color: #0E282E;
	color: white;
}

p {
	font-size: 18px;
}

#page-wood-early {
	background-image: url('img/wood-model-early.jpg');
	min-height: 60%;
}

#page-wood-early .container {
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 0.2em;
	padding: 2em;
}

.container.page {
	padding: 2em;
}